:root {
    --light-brown: #d2b48c;
    --dark-brown: #5c4033;
}
p, h1, h2, h3, h4,h5 {
    font-family: "Poppins", sans-serif;
    color: var(--dark-brown);
}

.navbar-brand {
    color: var(--dark-brown) !important;
}
.navbar-nav .nav-link:hover {
    color: var(--red-wine) !important;
}
.card {
    transition: .3s;
    border-radius: 10px;
}
.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
    border: 1px solid var(--light-brown);
}
.card-img-top {
    object-fit: cover;
    transition: transform .4s ease;
}
.card:hover .card-img-top {
    transform: scale(1.05);
}
.banner {
    height: 600px;
    overflow: hidden;
}

.banner-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
}
